
main .heads{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 1rem;
    width: 50%;
}
.fullhead{
    width: 90%;
    margin: 15vh 5%;
    height: 60vh;
    display: flex;
    background-color: #f7f9fa;
    gap: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fullhead img {
    width: 30%;
    height: auto;
    object-fit: cover;

}

#top_headline{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: #000000;
    margin-bottom: -10vh;
}
#headline > b{
    color: #086600;
}
#headline{
    font-family: "Open Sans", sans-serif;
    font-size: clamp(3rem, 3.5vw, 4.5rem);
    color: rgb(0, 0, 0);
    margin-bottom: -3vh;
}
#sub_headline{
    font-family: "Inter", sans-serif;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: #068FFF;
    padding-left: 1%;
}
.heads button{
    background-color: rgb(16, 124, 167);
    border: 0.5px solid green;
    width: 30%;
    height: 10%;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: clamp(0.9rem, 2vw, 2.5rem);
    color: #ebebff;
}
.Services{
   
    margin-top: -3vh;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-around;
    align-content: start;
    height: 70vh;
    width: 95%;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 3rem);
    font-family: 'Inter', sans-serif;
}
.Services > *{
    width: 20%;
    height: 60%;
}

.Services img{
    width: 100%;
    height: 40vh;
    border-radius: 5%;
    object-fit: cover;
}
h3{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 2vw, 3rem);
    margin-top: 15vh;
    width: 100%;
}

#Testimonials{
    position: relative;
    left: 10vw;
    font-family: sans-serif;
    font-size: clamp(0.9rem, 2vw, 3rem);
    width: 80%;
    padding-top: 7rem;
}
.Testimonials{
    display: flex;
    justify-content: start;
    gap: 10%;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 60vh;
    padding-top: 5%;
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
}
.Testimonials > .user{
    border-radius: 20px;
    height: 80%;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    background-color: #b3d5f3;
}
p.username{
    margin-top: 4vh;
    font-style: oblique;
    font-weight: 700;
    font-family: Arial, sans-serif;
    font-size: clamp(0.9rem, 1.5vw, 3.5rem);

}
.stars{
    text-align: center;
}
.fa-star{
    color: rgb(233, 200, 53);
    clear: left;
    margin-top: 2%;
    font-size: larger;
    
}
p.Review{
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.9rem, 1.2vw, 1.9rem);
    margin-top: 0.5rem;
    width: 100%;
    text-align: start;
}
div.user img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vw;
    float: left;
}

button:hover{
    transform: scale(0.9, 0.9);
    box-shadow: 0px 2px 5px rgb(75, 73, 73);
}
button:active{
    background-color: #57555396;
}

@media (max-width: 599px){
    main .heads{
        margin-top: 0vh;
        margin-left: 5%;
        width: 90%;
        height: 50%;
        text-align:start;
    }
    .fullhead{
    width: 90%;
    margin: 15vh 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f9fa;
    gap: 0.5%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fullhead img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#top_headline{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: #000000;
}
    #sub_headline{
        font-size: clamp(1.1rem, 1.5vw, 2.5rem);
         }
    .heads button{
        width: 40%;
        font-size: clamp(1rem, 2vw, 2.5rem);
    }
    .Services{
        margin-top: -2vh;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 95%;
        gap: 25%;
        font-size: clamp(1.2rem, 2vw, 3rem);
    }
    .Services p{
        margin-bottom: 0.5vh;
        margin-top: 10vh;
    }
    .Services > *{
        width: 80%;
    }
    
    #Testimonials{
        font-size: clamp(1rem, 2vw, 3rem);
    }
    .Testimonials > *{
        padding-left: 5vw;
    }
    
    .Testimonials{
        flex-direction: column;
        width: 80vw;
        height: 120vh;
        justify-content: space-around;
        align-items: center;
        gap: 2vh;
        padding: 0;
    }
    
.Testimonials > .user{
    border-radius: 20px;
    height: 30%;
    width: 80%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    background-color: #b3d5f3;
}
    p.Review{
        font-size: clamp(0.9rem, 1.5vw, 1.9rem);
        margin-top: 0.5rem;
        width: 100%;
        text-align: start;
    }
    
    .stars{
        margin-top: 12%;
        text-align: center;
    }
}



@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    main{
        width: 100%;
    }
    
.fullhead{
    width: 95%;
    margin: 15vh 2.5%;
    height: 60vh;
    display: flex;
    background-color: #f7f9fa;
    gap: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fullhead img {
    width: 50%;
    height: auto;
    object-fit: cover;

}

#top_headline{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: #000000;
    margin-bottom: -6vh;
}

    main .heads {
        width: 50%;
        margin-left: 5%;
        height: 90%;
        gap: 1rem;
        text-align: start;
    }
    #headline {
        font-size: clamp(3.2rem, 3.5vw, 4rem);
    }
    #sub_headline {
        font-size: clamp(1.7rem, 2vw, 3rem);
    }
    .heads button {
        width: 60%;
        font-size: clamp(2rem, 2.5vw, 3rem);
    }
    .Services {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
        width: 95%;
        font-size: clamp(1.7rem, 2vw, 2.2rem);
    }
    .Services > * {
        width: 45%;
        height: auto;
        margin-bottom: 2vh;
    }
    .Services img {
        width: 100%;
        height: 25vh;
    }
    h3 {
        font-size: clamp(2rem, 2.5vw, 3.5rem);
        margin-top: 8vh;
    }
    #Testimonials {
        width: 95%;
        left: 2vw;
        font-size: clamp(1.7rem, 2vw, 2.2rem);
        padding-top: 4rem;
    }
.Testimonials{
    display: flex;
    justify-content: start;
    gap: 5%;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 40vh;
    padding-top: 5%;
    width: 90%;
    border-radius: 20px;
    margin-left: 5%;
}
.Testimonials > .user{
    border-radius: 20px;
    height: 80%;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    background-color: #b3d5f3;
}
p.username{
    margin-top: 3vh;
    font-style: oblique;
    font-weight: 700;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: clamp(0.9rem, 1.6vw, 3.5rem);

}
.stars{
    margin-top: 5vh;
    text-align: center;
}
.fa-star{
    color: rgb(233, 200, 53);
    clear: left;
    font-size: larger;
    
}
p.Review{
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.9rem);
    margin-top: 0.5rem;
    width: 100%;
    text-align: start;
}
div.user img {
    width: 45%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vw;
    float: left;
}
}